<div _ngcontent-kga-c1="" class="container">
  <div _ngcontent-kga-c2="" class="row">
    <div _ngcontent-kga-c2="" class="col-sm-6 col-md-8 col-lg-9">
      <h1 _ngcontent-kga-c2="">Over deze applicatie</h1>
      <p _ngcontent-kga-c2="">
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda.
      </p>
      <h3 _ngcontent-kga-c2="">Test project</h3>
      <p _ngcontent-kga-c2="">
        Hier beschrijft je wat je project inhoudt. Beschrijf ook de entiteiten/domeinobjecten die je gebruikt,
        en benoem per entiteit de attributen met hun datatype.
      </p>
    </div>
    <div _ngcontent-kga-c2="" class="col-sm-6 col-md-4 col-lg-3">
      <div _ngcontent-kga-c2="" class="card">
        <div _ngcontent-kga-c2="" class="d-flex justify-content-center align-items-center">
          <img
            _ngcontent-kga-c2=""
            alt="..."
            class="card-img-top rounded-circle border profile-pic"
            src="assets/images/person.png"
          />
        </div>
        <div _ngcontent-kga-c2="" class="card-body">
          <h5 _ngcontent-kga-c2="" class="card-title">Jouw naam hier</h5>
          <p _ngcontent-kga-c2="" class="card-text">Studentnummer: 12345678</p>
        </div>
      </div>
    </div>
  </div>
  <h3 _ngcontent-kga-c2="">Entiteiten</h3>
  <div _ngcontent-kga-c2="" class="row">
    <div _ngcontent-kga-c2="" class="col-sm-12 col-md-4">
      <p _ngcontent-kga-c2="">Entiteit 1</p>
      <ul _ngcontent-kga-c2="">
        <li _ngcontent-kga-c2="">naam: string</li>
        <li _ngcontent-kga-c2="">id: number</li>
        <li _ngcontent-kga-c2="">birthdate: date</li>
        <li _ngcontent-kga-c2="">isSelected: boolean</li>
      </ul>
    </div>
    <div _ngcontent-kga-c2="" class="col-sm-12 col-md-4">
      <p _ngcontent-kga-c2="">Entiteit 2</p>
      <ul _ngcontent-kga-c2="">
        <li _ngcontent-kga-c2="">naam: string</li>
        <li _ngcontent-kga-c2="">id: number</li>
        <li _ngcontent-kga-c2="">birthdate: date</li>
        <li _ngcontent-kga-c2="">isSelected: boolean</li>
      </ul>
    </div>
    <div _ngcontent-kga-c2="" class="col-sm-12 col-md-4">
      <p _ngcontent-kga-c2="">Entiteit 3</p>
      <ul _ngcontent-kga-c2="">
        <li _ngcontent-kga-c2="">naam: string</li>
        <li _ngcontent-kga-c2="">id: number</li>
        <li _ngcontent-kga-c2="">birthdate: date</li>
        <li _ngcontent-kga-c2="">isSelected: boolean</li>
      </ul>
    </div>
  </div>
  <div _ngcontent-kga-c2="" class="row">
    <div _ngcontent-kga-c2="" class="col-12">
      <h3 _ngcontent-kga-c2="">Use Cases</h3>
      <p _ngcontent-kga-c2="">De applicatie biedt de volgende functionaliteit.</p>
      <!---->
      <div _ngcontent-kga-c2="">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr class="table-primary">
              <th scope="row" style="width: 16.66%">Naam</th>
              <td><strong>UC-01 Inloggen</strong></td>
            </tr>
            <tr>
              <th scope="row">Beschrijving</th>
              <td>Hiermee logt een bestaande gebruiker in.</td>
            </tr>
            <tr>
              <th scope="row">Actor</th>
              <td>Reguliere gebruiker</td>
            </tr>
            <tr>
              <th scope="row">Preconditie</th>
              <td>Geen</td>
            </tr>
            <tr>
              <th scope="row">Scenario</th>
              <td>
                <ol>
                  <!---->
                  <li>Gebruiker vult email en password in en klikt op Login knop.</li>
                  <li>De applicatie valideert de ingevoerde gegevens.</li>
                  <li>Indien gegevens correct zijn dan redirect de applicatie naar het startscherm.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th scope="row">Postconditie</th>
              <td>De actor is ingelogd</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div _ngcontent-kga-c2="">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr class="table-primary">
              <th scope="row" style="width: 16.66%">Naam</th>
              <td><strong>UC-02 Naam</strong></td>
            </tr>
            <tr>
              <th scope="row">Beschrijving</th>
              <td>Hiermee kan een administrator ...</td>
            </tr>
            <tr>
              <th scope="row">Actor</th>
              <td>Administrator</td>
            </tr>
            <tr>
              <th scope="row">Preconditie</th>
              <td>De actor is ingelogd</td>
            </tr>
            <tr>
              <th scope="row">Scenario</th>
              <td>
                <ol>
                  <!---->
                  <li>Stap 1</li>
                  <li>Stap 2</li>
                  <li>Stap 3</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th scope="row">Postconditie</th>
              <td>Het doel is bereikt.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p _ngcontent-kga-c2="">Vul hier zelf meer functionaliteit toe.</p>
    </div>
  </div>
</div>
